.wrapper {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.translucent-form-overlay {
  /* max-width: 500px; */
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
  border-radius: 10px;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.grid-container {
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}
.card-wrapper {
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  height: 90vh;

  margin: 0 5vh;
  overflow: auto;
}

#search-box {
	flex-grow: 1;
	margin: 1vw;
	width: 25%;
}

#card-box {
	flex-grow: 2;
}

.card {
	display: flex;
}

p {
	margin: 0;
}

h4 {
	margin: 0;
}

#event-venue {
	color: #8a8a8a;
}

#event-date {
	color: #8a8a8a;
}

.map {
	height: 250px;
}

.card-section {
	width: 50%;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		flex-direction: column;
	}

	#search-box {
		width: unset;
	}

	#card-box {
		width: 100%;
	}
	.card {
		flex-direction: column;
	}

	.card-section {
		width: 100%;
	}
}





/* Similar Building Blocks
  FORMS
  Floating Label Form
  F6
   By Rafi
  13
  FORMS
  Plus Minus Buttons
  F6
   By Harry Manchanda
  32 */
