body {
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjt3bbCxYffAhVRmeAKHdZsCOEQjhx6BAgBEAM&url=https%3A%2F%2Fcmb.wales%2Fevents%2Fevent%2Ffirework-display-llanmiloe%2Ffireworks-background-shutterstock_540283648%2F&psig=AOvVaw3HDHEl4keDymAIVkZhV_xd&ust=1544057460674211);
  background-position: 100%;
  background-repeat: no-repeat;
}
